<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.phantom.pickup.mapper.UserMapper">

    <select id="getInfo" parameterType="Map" resultType="Map">
        SELECT
            `id`, `name`, `phone`, `email`
        FROM `user`
        WHERE
            `id` = #{id}
    </select>

    <select id="getPhoto" parameterType="Map" resultType="Map">
        SELECT
            `photo`
        FROM `user`
        WHERE
            `id` = #{id}
    </select>

    <update id="putInfo" parameterType="Map">
        UPDATE `user` SET
        <if test="userModel.name != null">
            `name` = #{userModel.name}
        </if>
        <if test="userModel.email != null">
            `email` = #{userModel.email}
        </if>
        <if test="userModel.phone != null">
            `phone` = #{userModel.phone}
        </if>
        <if test="userModel.photo != null">
            `photo` = #{userModel.photo}
        </if>
        WHERE
            `id` = #{id}
    </update>

</mapper>